body, .tasks-list {
    padding-top: 20px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.done {
    display: none;
}
.project-item {
    border: 1px solid #b0d4f1;
    min-height: 150px;
    padding: 30px;
}
.task {
    padding-bottom: 30px;
}
.card-header .pull-left {
    width: 80%;
}
.card-header .pull-right {
    width: 20%;
}